img {
  max-width: 100%;
}

.hamburger {
  display: none;
}

.icon img {
  width: 100px;
  padding-left: 2%;
  padding-top: 2%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  width: 90%;
  margin: 0 auto;
}

nav {
  text-align: right;
}

nav ul a {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 1.25em;
  color: #2E364F;
  display: block;
}

nav li {
  display: inline-block;
  padding: 10px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
  color: #2E364F;
  line-height: 1.5em;
}

.intro {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
  align-items:flex-start;
}

.greeting {
  padding-top: 10%;
  padding-left: 5%;
  padding-bottom: 50px;
  padding-right: 5%;
}

.projects {
  background-color: #DBE3FF;
  width: 100%;
  padding-bottom: 10%;
}

.projects1 {
  display: flex;
  margin-top: 5%;
  align-items:flex-start;
  margin-left: 10%;
}

.projectImg {
  width: 350px;
  border: 5px solid #2E364F;
  margin-left: 10%;
  margin-right: 5%;
}

.projects h1 {
  margin-left: 10%;
  padding-top: 5%;
}

.button {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  color: #2E364F;
  text-decoration: none;
  padding: 15px 32px;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
  color: #2E364F;
  padding-top: 3%;
  padding-bottom: 3%;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 2.25em;
  color: #2E364F;
  font-weight: bold;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 1.75em;
  color: #2E364F;
  margin-top: 5%;
}

#whyDesign {
  padding-left: 5%;
}

#contact {
  background-color: #2D5D7C;
  width: 100%;
}

#contact h1 {
  color: white;
  padding-left: 10%;
  padding-top: 5%;
}

#contact li {
  display: inline-block;
  margin: 5%;
  padding-left: 8%;
}

#contact a {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 45%;
  padding-left: 5%;
}

.row img {
  width: 100%;
}

.lgimg {
  max-width: 85%;
  justify-content: center;
  margin-top: 5%;
  margin: 0 auto;
  display: block;
}

.problem, .process, .conclusion {
  background-color: #DBE3FF;
}

.summary, .problem, .solution, .process, .branding, .conclusion {
  padding-top: 5%;
  padding-bottom: 5%;
}

#userFlow {
  width: 100%;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  color: #2E364F;
}

h5 {
  font-family: 'Karla', sans-serif;
  font-size: 1.5em;
  color: #2E364F;
  font-weight: bold;
  line-height: 2em;
}

span {
  font-weight: bold;
}

.about {
  display: flex;
  justify-content: center;
  padding: 10%;
  align-items:flex-start;
}

.about p {
  padding: 5%;
}

.aboutHeader {
  padding-left: 10%;
  padding-top: 10%;
}

.aboutText {
  max-width: 50%;
}

.center {
  width: 60%;
  margin: auto;
}

.roleTable {
  padding: 5%;
}

.roleTable li {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  color: #2E364F;
  line-height: 1.5em;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.5em;
  padding-bottom: 5%;
  max-width: 800px;
}

.persona {
  max-width: 600px;
  margin-top: 6%;
}

.survey {
  margin-top: 5%;
}

.copyright {
  text-align: center;
  color: white;
}

.competitive {
  max-width: 200px;
  margin: auto;
}

.swot {

}

.columnPersona {
  flex: 45%;
  padding-left: 4%;
  border-style: solid;
  border-width: 2px;
  border-color: #2E364F;
}

.columnPersona li {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  color: #2E364F;
  line-height: 1.5em;
}

.chart {
  max-width: 75%;
  margin: auto;
}

.persona {

}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .intro {
    display:flex;
    flex-wrap: wrap;
  }
  nav li {
    padding: 18px;
  }
  .intro img {
    width: 100%;
  }
  .projects1 {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .projects1 img {
    width: 250px;
    margin: auto;
    margin-bottom: 5%;
  }
  .about {
    display:flex;
    flex-wrap: wrap;
  }
  .aboutText {
    max-width: 75%;
  }
  #contact li {
    padding-left: 5%;
  }
  .column {
    flex: 100%;
  }
  .center {
    width: 90%;
  }
  .intro h1 {
    font-size: 2.5em;
  }
  .center img {
    width: 100%;
    padding: 0%;
  }
}
